<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <img src="https://vuejs.org/images/logo.png" alt="Vue logo">
    <h1>{{ greeting }}</h1>
    <ul>
      <li>
        To learn more about Vue, visit
        <a :href="docsURL" target="_blank">
          {{ humanizeURL(docsURL) }}
        </a>
      </li>
      <li>
        For live help with simple questions, check out
        <a :href="discordURL" target="_blank">
          the Discord chat
        </a>
      </li>
      <li>
        For more complex questions, post to
        <a :href="forumURL" target="_blank">
          the forum
        </a>
      </li>
    </ul>
    <h3>CodeSmart People:</h3>
    <ul>
      <li v-for="person in people">{{person}}</li>
    </ul>
    <h3>Useful resources</h3>
    <ul>
      <li is="resource-item" v-for="resource in resources" v-bind:resource-name="resource.name" :resource-url="resource.url"></li>
    </ul>
  </div>

  <script type="text/template" id="resourceItem">
      <li><a v-bind:href="resourceUrl" target="_blank">{{resourceName}}</a></li>
  </script>
  <script>

    var resourceItem = {
      name: 'resource-item',
      props: [
        'resourceName',
        'resourceUrl'
        ],
      template: '#resourceItem'
    };
    var app = new Vue({
      el: '#app',
      components: {
        resourceItem
      },
      data: {
        greeting: 'Welcome, CodeSmart people, to your Vue.js app!',
        docsURL: 'http://vuejs.org/guide/',
        discordURL: 'https://chat.vuejs.org',
        forumURL: 'http://forum.vuejs.org/',
        people: [
          'Michael',
          'Chris',
          'Andrew',
          'Luke',
          'Chandra',
          'Praveen',
        ],
        resources: [
          { name: 'awesome-vue', url: 'https://github.com/vuejs/awesome-vue' },
          { name: 'Vue.js "Laracasts"', url: 'https://laracasts.com/series/learn-vue-2-step-by-step' },
          { name: 'Alligator.io--Vue.js', url: 'https://alligator.io/vuejs/' },
        ],
      },
      methods: {
        humanizeURL: function (url) {
          return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        }
      }
    })
  </script>
</body>
</html>
